# MTK platform .rc configure
on post-fs-data
    # calibration
    mkdir /data/vendor/sensor 0774 system system
    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als
    chmod 0660 /dev/humidity
    chmod 0660 /dev/barometer
    chmod 0660 /dev/m_als_misc
    chmod 0660 /dev/m_baro_misc
    chmod 0660 /dev/m_hmdy_misc
    chmod 0660 /dev/m_ps_misc
    chmod 0660 /dev/m_acc_misc
    chmod 0660 /dev/m_mag_misc
    chmod 0660 /dev/m_gyro_misc
    chmod 0660 /dev/m_act_misc
    chmod 0660 /dev/m_pedo_misc
    chmod 0660 /dev/m_situ_misc
    chmod 0660 /dev/m_step_c_misc
    chmod 0660 /dev/m_fusion_misc
    chmod 0660 /dev/m_bio_misc
    chmod 0660 /dev/biometric
    chmod 0660 /dev/sensorlist

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown radio system /dev/gsensor
    chown radio system /dev/als_ps
    chown radio system /dev/gyroscope
    chown system system /dev/aal_als
    chown system system /dev/humidity
    chown system system /dev/barometer
    chown system system /dev/m_als_misc
    chown system system /dev/m_baro_misc
    chown system system /dev/m_hmdy_misc
    chown system system /dev/m_ps_misc
    chown system system /dev/m_acc_misc
    chown system system /dev/m_mag_misc
    chown system system /dev/m_gyro_misc
    chown system system /dev/m_act_misc
    chown system system /dev/m_pedo_misc
    chown system system /dev/m_situ_misc
    chown system system /dev/m_step_c_misc
    chown system system /dev/m_fusion_misc
    chown system system /dev/m_bio_misc
    chown system system /dev/biometric
    chown system system /dev/sensorlist
